*{
    margin: 0;
}
header{
    background-color: rgb(120, 120, 209);
    width: 100%;
    height: 10vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}
.container nav{
    background-color: grey;
    width: 20%;
    height:100%;
}
.container main{
    background-color: rgb(255, 56, 56);
    width: 60%;
    height: 100%;
}
.container aside{
    background-color: rgb(106, 213, 106);
    width: 20%;
    height:100%;
}
footer{
    background-color: rgb(218, 254, 110);
    width: 100%;
    height: 10vh;
}
header img{
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section :nth-child(3){
    background-color: white;
    border-radius: 3px;
    border: 0;
    padding: 5%;
    margin: 5%;
    color: rgb(255, 56, 56);
    text-align: center;
}
main button:hover{
    background-color: black;
    color: white;

}
main section div input{
    background-color: white;
    border-radius: 3px;
    border: 0;
    padding: 5%;
    margin: 5%;
}